@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Goldman:wght@400;700&family=Roboto+Mono:wght@300;400;600&display=swap');
*{
    padding: 0;
    margin: 0;

}

html,
body {
    height: 100%;
}

body{
    background: url("asset/BG/bgw.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.loading-wrapper{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #280f36;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 99999;
}
.loading-inner{
    display: block;
}
#loading-title{
    color: white;
    font-family: 'roboto mono', sans-serif;
    font-size: 1.5rem;
}

/* .sr-only {
    position: absolute;

} */


.title-h1{
    color: white;
    font-family: 'bebas neue', sans-serif;
}
.title{
    font-family: 'roboto mono', sans-serif;
}

label{
    font-weight: bold;
}

.button {
    position: absolute;
    top: 65%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
}

.btn {
    border: 1px solid white;
    padding: 10px  20px;
    color: white;
    text-decoration: none;
    transition: 0.6s;
}

.btn:hover {
    background-color: white;
    color: black;
}

#panel {
    padding: 5px;
    text-align: center;
    background-color: #e4a0f7;
    border: solid 1px #e4a0f7;
    padding: 50px;
    display: none;
}