@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Goldman:wght@400;700&family=Roboto+Mono:wght@300;400;600&display=swap');
*{
    padding: 0;
    margin: 0;

}

html,
body {
    height: 100%;
}

body{
    background: url("asset/BG/bgw.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

/* #logo {
    width: auto;
    height: auto;
} */

.loading-wrapper{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #280f36;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 99999;
}
.loading-inner{
    display: block;
}
#loading-title{
    color: white;
    font-family: 'roboto mono', sans-serif;
    font-size: 1.5rem;
}

/* .sr-only {
    position: absolute;

} */


.title-h1{
    color: white;
    font-family: 'bebas neue', sans-serif;
}
.title{
    font-family: 'roboto mono', sans-serif;
}
.center{
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.quote {
    font-family: Goldman Sans;
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
}

.movie {
    font-family: Goldman Sans;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: right;
}

label{
    font-weight: bold;
}

.button {
    position: absolute;
    top: 65%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
}

.btn {
    border: 1px solid white;
    padding: 10px  20px;
    color: white;
    text-decoration: none;
    transition: 0.6s;
}

.btn:hover {
    background-color: #75cbbc;
    color: black;
}

#panel {
    padding: 5px;
    text-align: center;
    background-color: #e4a0f7;
    border: solid 1px #e4a0f7;
    padding: 50px;
    display: none;
}

.modal-header {
    background-color: #B47EDE;
    color: white;
}

.modal-body, .modal-footer {
    background-color: #81007f;
    color: white;
}

/* Animation */
#karakter1{
    height: 200px;
    position: absolute;
    top: 60px;
    left: 60px;
    animation: bounce-2 6s infinite;
}

#karakter2{
    height: 270px;
    position: absolute;
    bottom: 60px;
    right: 60px;
    animation: bounce-2 6s infinite;
}

@keyframes bounce-2 {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-30px); }
    100% { transform: translateY(0); }
}

@media only screen and (max-width: 600px) {
    #karakter1{
        height: 90px;
        top: 40px;
        left: 30px;
    }

    #karakter2{
        height: 90px;
        bottom: 25px;
        right: 30px;
    }

    /* #karakter3 {
        height: 100px;
        bottom: 35px;
        right: 40px;
    } */
}
@media only screen and (max-width: 430px) {
    #karakter1{
        height: 120px;
        top: 50px;
        left: 70px;
    }

    #karakter2{
        height: 120px;
        bottom: 30px;
        right: 70px;
    }

    /* #karakter3 {
        height: 100px;
        bottom: 35px;
        right: 40px;
    } */
}